<form id="login" method="post">
    <input type="email" name="email" value="" placeholder="Email">
    <br><br>
    <input type="password" name="password" value="" placeholder="Password">
    <br><br>
    <input type="submit" value="Login">
    <br>
    <br>
    <p id="response"></p>
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login');
	var upload="http://localhost:3000/pictograms/upload";
	
    formLogin.addEventListener('submit', event => {
        event.preventDefault();
        const formData = new FormData(formLogin);
        var obJSON = {};

        formData.forEach(function (value, key) {
			obJSON[key] = value;
		});
		
        fetch('/api/signin', {
            method: 'POST',
            body: JSON.stringify(obJSON),
			headers:{
				"Content-Type":"application/json;charset=UTF-8"
			}
		})
        .then(res => res.json())
        .then(data => {
			if(data.token){
				localStorage.setItem('token', data.token);
				//document.getElementById("token").innerHTML = localStorage.getItem('token');
				location.href=upload;
			} else document.getElementById("response").innerHTML = "Usuario o contraseña incorrectos.";
        })
    })
</script>